body {
	background:#fff;
	font-family: Ubuntu,Arial,sans-serif;
	font-size:100%;
	color:#000000;
}
h1 {
	font-size:1.8em;
	color:#f00;
	text-align:center;
	margin: auto;
}
h2 {
	font-size:1.3em;
	color:#f00;
	text-align:center;
	margin: auto;
}
